<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.container {
	margin-top: 40px
}
.row {
	margin: 0px auto;
	width: 1000px;
}
p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.a-link {
	cursor: pointer;
}
</style>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="container" id="findApp">
	<div class="row text-center">
		<select class="input-sm" v-model="column">
			<option value="title">레시피</option>
			<option value="chef">쉐프</option>
		</select>
		<input @keydown.enter="find" type="text" class="input-sm" size=20 ref="fdRef">
		<button @click="find" type="button" class="btn btn-sm btn-success">검색</button>
	</div>
	<div class="row" style="margin-top: 20px">
		<div class="col-sm-3" v-for="(vo,index) in list" :key="index">
			<div class="thumbnail">
			  <a @click="change(vo.no)" class="a-link">
				<img :src="vo.poster" :title="vo.title" style="width: 300px; height: 200px;">
			  </a>
				<p>{{vo.title}}</p>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<ul class="pagination">
			<li v-if="startpage>1">
				<a @click="move(startpage-1)" class="a-link">&laquo;</a>
			</li>
			<li v-for="i in range(startpage,endpage)" :class="i==curpage?'active':''">
				<a @click="move(i)" class="a-link">{{i}}</a>
			</li>
			<li v-if="endpage<totalpage">
				<a @click="move(endpage+1)" class="a-link">&raquo;</a>
			</li>
		</ul>
	</div>
</div>
<script>
	let findApp=Vue.createApp({
		data(){
			return {
				list:[],
				curpage:1,
				totalpage:0,
				startpage:0,
				endpage:0,
				fd:'라면',
				column:'title'
			}
		},
		mounted(){
			// 시작과 동시에 처리
			this.$refs.fdRef.value=this.fd
			this.dataRecv()
		},
		methods:{
			// 사용자 정의 함수
			async dataRecv(){
				
				await axios.get('http://localhost:8080/recipe/find_vue',{
					params:{
						page:this.curpage,
						fd:this.fd
					}
				}).then(response=>{
					console.log(response.data)
					this.list=response.data.list
					this.curpage=response.data.pages[0]
					this.totalpage=response.data.pages[1]
					this.startpage=response.data.pages[2]
					this.endpage=response.data.pages[3]
				})
			},
			find(){
				//if(!this.fd) {
				if(!this.$refs.fdRef.value) {
					this.$refs.fdRef.value=''
					this.$refs.fdRef.focus()
					return
				}
				//console.log(this.$refs.fdRef.value)
				this.fd=this.$refs.fdRef.value
				this.curpage=1
				this.dataRecv()
			},
			move(page){
				this.curpage=page
				this.dataRecv()
			},
			range(start,end){
				let arr=[]
				let len=end-start
				for(let i=0; i<=len; i++) {
					arr[i]=start
					start++
				}
				return arr
			},
			change(no){
				location.href="/recipe/detail?no="+no
			}
		},
		components:{
			
		},
		computed:{
			// 완성된 계산 변경 => 1,000
		},
		watch:{
			// 컴포넌트에서 발생된 이벤트 처리
		}
	}).mount('#findApp')
</script>
</body>
</html>